// pin plugins to work offline
// manually install with:
// nextflow plugin install nf-schema@2.2.0
plugins {
    id "nf-schema@2.2.0"
}

singularity {
    runOptions = '-B \$TMPDIR -B ${WORK}'
}

process {
    // increase memory for those dataset in particular
    withName: PORECHOP_PORECHOP {
        memory = { 72.GB * task.attempt }
    }

    withName: MODKIT_PILEUP {
        ext.args = {
            [
                '--motif A 0 --motif CHH 0 --motif CHG 0 --motif CG 0', // specify motifs and where the methylation is supposed to be
                "--log-filepath ${meta.id}_pileup.log"
            ].join(' ')
        }
    }
}
