// pin plugins to work offline
// manually install with:
// nextflow plugin install nf-schema@2.2.0
plugins {
    id "nf-schema@2.2.0"
}

singularity {
    runOptions = '-B \$TMPDIR -B ${WORK}'
}

process {
    withName: MODKIT_PILEUP {
        ext.args = {
            [
                '--combine-mods',
                '--motif A 0 --motif CHH 0 --motif CHG 0 --motif CG 0',
                "--log-filepath ${meta.id}_pileup.log",
                '--header'
            ].join(' ')
        }
    }
}
